<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.sampleappintentactivity2"
        android:versionCode="1"
        android:versionName="1.0">
    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
        <activity android:name=".SampleAppIntentActivity2"
                android:label="@string/title_activity_sample_app_intent_activity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="SampleActivity"
                android:label="@string/act_name">
        </activity>

    </application>

</manifest>